<h2> <%= @character.name %>'s Character Page </h2>
<br>

<h3>Race: </h3>
<p> <%= @character.race %> </p>

<h3>Gender:</h3>
<p> <%= @character.gender %></p>

<h3>Class: </h3>
<p> <%= @character.archetype %></p>

<h3>Background: </h3>
<p> <%= @character.background %></p>

<% if @character.user == current_user %>
<form action="/characters/<%= @character.id %>/edit" method="get">
  <input type="submit" class="button" value="Edit Character">
  </form>
  
<form action="/characters/<%= @character.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" class="button" value="Delete Character">
  </form>

<% end %>